In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName("PySpark Access Logs") \
    .master("spark://172.29.16.102:7077") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/22 17:54:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
import pandas as pd

In [4]:
logs_df = pd.read_csv('listpw.csv')

In [5]:
logs_df.head()

        date      time  user password
0  3/23/2022  22:54:06   NaN      NaN
1  3/23/2022  22:54:26  user        1
2  3/23/2022  22:54:49   NaN      NaN
3  3/23/2022  22:55:49   NaN      NaN
4  3/23/2022  22:56:24   NaN      NaN

In [6]:
logs_df.count()

date        15211
time        15211
user        14234
password    10634
dtype: int64

In [7]:
users = logs_df['user'].to_list()

In [8]:
sc = spark.sparkContext

In [9]:
log_rdd = sc.parallelize(users)

In [10]:
log_rdd.getNumPartitions()

2

In [15]:
log_rdd.takeSample(num = 5, withReplacement = False)

[nan, nan, 'root', 'root', 'root']

In [16]:
def mapper(user):
    return (str(user), 1)

In [17]:
mapped_rdd = log_rdd.map(mapper)

In [20]:
mapped_rdd.takeSample(num = 5, withReplacement = False)

[('admin', 1), ('root', 1), ('nan', 1), ('root', 1), ('root', 1)]

In [21]:
def reducer(count1, count2):
    return count1 + count2

In [22]:
route_counts = mapped_rdd.reduceByKey(reducer)

In [23]:
route_counts.takeSample(num = 5, withReplacement = False)

[('db2inst1', 2),
 ('micom', 2),
 ('spark', 1),
 ('plcmspip', 10),
 ('monitor', 12)]

In [24]:
sorted_routes = route_counts.sortBy(lambda x: x[1], ascending=False)

In [27]:
len(sorted_routes.collect())

396

In [26]:
for route, count in sorted_routes.collect():
    print(f"User: {route}, Access Count: {count}")

User: root, Access Count: 9644
User: admin, Access Count: 1476
User: nan, Access Count: 977
User: user, Access Count: 417
User: Administrator, Access Count: 229
User: identification, Access Count: 136
User: 111111, Access Count: 120
User: support, Access Count: 109
User: test, Access Count: 108
User: ubnt, Access Count: 103
User: 1234, Access Count: 74
User: 123321, Access Count: 71
User: guest, Access Count: 56
User: ftpuser, Access Count: 56
User: oracle, Access Count: 47
User: adm, Access Count: 45
User: ftp, Access Count: 45
User: pi, Access Count: 45
User: administrator, Access Count: 44
User: operator, Access Count: 38
User: super, Access Count: 37
User: ubuntu, Access Count: 36
User: default, Access Count: 34
User: manager, Access Count: 34
User: master, Access Count: 34
User: usuario, Access Count: 33
User: nagios, Access Count: 33
User: 123, Access Count: 31
User: Admin, Access Count: 29
User: mos, Access Count: 22
User: sshd, Access Count: 21
User: user1, Access Count: 21
User: nobody, Access Count: 21
User: postgres, Access Count: 20
User: uucp, Access Count: 18
User: 22, Access Count: 16
User: backup, Access Count: 16
User: test2, Access Count: 14
User: client, Access Count: 14
User: test1, Access Count: 14
User: telecomadmin, Access Count: 13
User: service, Access Count: 13
User: monitor, Access Count: 12
User: testuser, Access Count: 12
User: system, Access Count: 11
User: aDmin, Access Count: 11
User: cirros, Access Count: 10
User: debian, Access Count: 10
User: raspberry, Access Count: 10
User: plcmspip, Access Count: 10
User: anonymous, Access Count: 9
User: superadmin, Access Count: 9
User: demo, Access Count: 8
User: 123456789a, Access Count: 8
User: 12345670, Access Count: 8
User: 10101010, Access Count: 8
User: 00001111, Access Count: 8
User: 12345, Access Count: 8
User: git, Access Count: 8
User: helpdesk, Access Count: 8
User: zabbix, Access Count: 8
User: 1018632814, Access Count: 8
User: 1010101010, Access Count: 8
User: blank, Access Count: 7
User: 0123456789, Access Count: 7
User: kyivstar, Access Count: 6
User: none, Access Count: 6
User: usernam, Access Count: 6
User: 1029384756, Access Count: 6
User: info, Access Count: 6
User: supervisor, Access Count: 6
User: shutting, Access Count: 6
User: volumio, Access Count: 5
User: ethos, Access Count: 5
User: 0, Access Count: 5
User: PlcmSpIp, Access Count: 5
User: odoo, Access Count: 5
User: agent, Access Count: 5
User: sysadmin, Access Count: 5
User: config, Access Count: 5
User: totaladmin, Access Count: 5
User: a, Access Count: 5
User: engineer, Access Count: 5
User: john, Access Count: 5
User: mysql, Access Count: 5
User: ansible, Access Count: 5
User: Eproot, Access Count: 5
User: noc, Access Count: 5
User: !root, Access Count: 4
User: jenkins, Access Count: 4
User: public, Access Count: 4
User: aD-min.123, Access Count: 4
User: 123Admin, Access Count: 4
User: mine, Access Count: 4
User: miner, Access Count: 4
User: vagrant, Access Count: 4
User: alarm, Access Count: 4
User: 01010101, Access Count: 4
User: 01234567, Access Count: 4
User: 2Wire, Access Count: 4
User: cisco, Access Count: 4
User: prueba, Access Count: 4
User: ts3, Access Count: 4
User: webmaster, Access Count: 4
User: xbmc, Access Count: 4
User: (none, Access Count: 4
User: vodafone, Access Count: 4
User: 1010101, Access Count: 4
User: 1234567, Access Count: 4
User: 12345678, Access Count: 4
User: ro-ot.123, Access Count: 4
User: 123Root, Access Count: 4
User: aDDmin, Access Count: 4
User: 012345678, Access Count: 4
User: apache, Access Count: 3
User: tomcat, Access Count: 3
User: bin, Access Count: 3
User: api, Access Count: 3
User: webadmin, Access Count: 3
User: bob, Access Count: 3
User: mtcl, Access Count: 3
User: unknown, Access Count: 3
User: listd, Access Count: 3
User: contador, Access Count: 3
User: monitoring, Access Count: 3
User: Spacenet, Access Count: 3
User: (none), Access Count: 3
User: kafka, Access Count: 3
User: aaron, Access Count: 3
User: 101, Access Count: 3
User: am, Access Count: 3
User: daemon, Access Count: 3
User: david, Access Count: 3
User: installer, Access Count: 3
User: m, Access Count: 3
User: media, Access Count: 3
User: mother, Access Count: 3
User: osmc, Access Count: 3
User: student, Access Count: 3
User: tech, Access Count: 3
User: username, Access Count: 3
User: telnet, Access Count: 3
User: gns3, Access Count: 3
User: 1111, Access Count: 2
User: adfexc, Access Count: 2
User: admin2, Access Count: 2
User: carlos, Access Count: 2
User: comcast, Access Count: 2
User: radware, Access Count: 2
User: reboot, Access Count: 2
User: steve, Access Count: 2
User: svin, Access Count: 2
User: svn, Access Count: 2
User: sys, Access Count: 2
User: sysadm, Access Count: 2
User: USERID, Access Count: 2
User: webconfig, Access Count: 2
User: nsroot, Access Count: 2
User: maint, Access Count: 2
User: pupkin, Access Count: 2
User: baikal, Access Count: 2
User: telekom, Access Count: 2
User: D-Link, Access Count: 2
User: console, Access Count: 2
User: 123root, Access Count: 2
User: osteam, Access Count: 2
User: Admin123, Access Count: 2
User: [user], Access Count: 2
User: Root, Access Count: 2
User: ump_corp_cnt, Access Count: 2
User: ely, Access Count: 2
User: 1, Access Count: 2
User: qtc404, Access Count: 2
User: net, Access Count: 2
User: test123, Access Count: 2
User: ftptest, Access Count: 2
User: superman, Access Count: 2
User: setup, Access Count: 2
User: scan, Access Count: 2
User: dvs, Access Count: 2
User: daniel, Access Count: 2
User: hello, Access Count: 2
User: adam, Access Count: 2
User: nuucp, Access Count: 2
User: install, Access Count: 2
User: vyatta, Access Count: 2
User: enrique, Access Count: 2
User: diag, Access Count: 2
User: 254, Access Count: 2
User: 3comcso, Access Count: 2
User: 666666, Access Count: 2
User: chris, Access Count: 2
User: login, Access Count: 2
User: router, Access Count: 2
User: shutdown, Access Count: 2
User: steam, Access Count: 2
User: music, Access Count: 2
User: duni, Access Count: 2
User: mts, Access Count: 2
User: rO-ot.123, Access Count: 2
User: Root123, Access Count: 2
User: MikroTikSystem, Access Count: 2
User: rOot123, Access Count: 2
User: (blank), Access Count: 2
User: mgts, Access Count: 2
User: aDmin123, Access Count: 2
User: {null}, Access Count: 2
User: micom, Access Count: 2
User: seanet, Access Count: 2
User: 2C5NX, Access Count: 2
User: telkom, Access Count: 2
User: gpadmin, Access Count: 2
User: lenovo, Access Count: 2
User: nutanix, Access Count: 2
User: db2inst1, Access Count: 2
User: admin1, Access Count: 2
User: mike, Access Count: 2
User: fake, Access Count: 2
User: ossuser, Access Count: 1
User: ADMN, Access Count: 1
User: amanda, Access Count: 1
User: anna, Access Count: 1
User: bill, Access Count: 1
User: echo, Access Count: 1
User: fax, Access Count: 1
User: mailman, Access Count: 1
User: naadmin, Access Count: 1
User: password, Access Count: 1
User: Polycom, Access Count: 1
User: roadmin, Access Count: 1
User: sales, Access Count: 1
User: target, Access Count: 1
User: telecom, Access Count: 1
User: ubadmin, Access Count: 1
User: vcr, Access Count: 1
User: volition, Access Count: 1
User: VTech, Access Count: 1
User: gituser, Access Count: 1
User: ec2-user, Access Count: 1
User: spark, Access Count: 1
User: ftpadmin, Access Count: 1
User: arnaudpolska-pl, Access Count: 1
User: lenny, Access Count: 1
User: smtp, Access Count: 1
User: cat, Access Count: 1
User: toor, Access Count: 1
User: ggg, Access Count: 1
User: 1e905c, Access Count: 1
User: auction, Access Count: 1
User: software, Access Count: 1
User: vpn, Access Count: 1
User: sftpuser, Access Count: 1
User: pal, Access Count: 1
User: joe, Access Count: 1
User: monolit1, Access Count: 1
User: vmware, Access Count: 1
User: postmaster, Access Count: 1
User: eurek, Access Count: 1
User: centos, Access Count: 1
User: sansforensics, Access Count: 1
User: debug, Access Count: 1
User: Guest, Access Count: 1
User: admin123, Access Count: 1
User: 2, Access Count: 1
User: security, Access Count: 1
User: ro, Access Count: 1
User: dadmin, Access Count: 1
User: accounting, Access Count: 1
User: JDE, Access Count: 1
User: RO, Access Count: 1
User: cameras, Access Count: 1
User: sa, Access Count: 1
User: samsung, Access Count: 1
User: arris, Access Count: 1
User: superuser, Access Count: 1
User: mailadmin, Access Count: 1
User: qpgmr, Access Count: 1
User: zyfwp, Access Count: 1
User: teste, Access Count: 1
User: w, Access Count: 1
User: hacluster, Access Count: 1
User: provedor, Access Count: 1
User: sam, Access Count: 1
User: akash, Access Count: 1
User: 11, Access Count: 1
User: cgtadmin, Access Count: 1
User: dnet, Access Count: 1
User: cifywrite, Access Count: 1
User: admin.kcynia.net, Access Count: 1
User: noroestenet, Access Count: 1
User: beetec, Access Count: 1
User: SupTech, Access Count: 1
User: desk, Access Count: 1
User: root123, Access Count: 1
User: Administrator from 192.168.99.1 port 46588 ssh2 (target: 162.20.0.10:122, password: zxcvbnm,./), Access Count: 1
User: admin from 192.168.99.1 port 45652 ssh2 (target: 162.20.0.10:122, password: zxcvbnm,./), Access Count: 1
User: root from 192.168.99.1 port 48474 ssh2 (target: 162.20.0.10:122, password: zxcvbnm,./), Access Count: 1
User: Sujan, Access Count: 1
User: wp, Access Count: 1
User: dell, Access Count: 1
User: chy, Access Count: 1
User: cohesity, Access Count: 1
User: svnuser, Access Count: 1
User: nfsnobod, Access Count: 1
User: onlime_r, Access Count: 1
User: ziggo, Access Count: 1
User: ADMIN, Access Count: 1
User: hscroot, Access Count: 1
User: factory, Access Count: 1
User: sconsole, Access Count: 1
User: lp, Access Count: 1
User: pw, Access Count: 1
User: 11111111, Access Count: 1
User: cusadmin, Access Count: 1
User: recover, Access Count: 1
User: apc, Access Count: 1
User: patrol, Access Count: 1
User: 1024, Access Count: 1
User: db2admin, Access Count: 1
User: DOCSIS_APP, Access Count: 1
User: SUPERVISOR, Access Count: 1
User: l2, Access Count: 1
User: rw, Access Count: 1
User: recovery, Access Count: 1
User: informix, Access Count: 1
User: xbox, Access Count: 1
User: RPM, Access Count: 1
User: super from 192.168.99.1 port 43989 ssh2 (target: 162.20.0.10:122, password: zxcvbnm,./), Access Count: 1
User: avin, Access Count: 1
User: backing, Access Count: 1
User: bantuan, Access Count: 1
User: aamra, Access Count: 1
User: zip, Access Count: 1
User: edatel, Access Count: 1
User: tanuj, Access Count: 1
User: ziel, Access Count: 1
User: ganesh, Access Count: 1
User: lanin, Access Count: 1
User: pedro, Access Count: 1
User: stenio, Access Count: 1
User: monoceros, Access Count: 1
User: anurag, Access Count: 1
User: sadmin, Access Count: 1
User: Serik, Access Count: 1
User: super from 192.168.99.1 port 47908 ssh2 (target: 162.20.0.10:122, password: zxcvbnm,./), Access Count: 1
User: butter, Access Count: 1
User: es, Access Count: 1
User: suse-gm, Access Count: 1
User: debianuser, Access Count: 1
User: dmdba, Access Count: 1
User: teamspeak, Access Count: 1
User: hadoop, Access Count: 1
User: jojo, Access Count: 1
User: 1502, Access Count: 1
User: 266344, Access Count: 1
User: 888888, Access Count: 1
User: aaa, Access Count: 1
User: acc, Access Count: 1
User: alex, Access Count: 1
User: camera, Access Count: 1
User: draytek, Access Count: 1
User: erdefault, Access Count: 1
User: library, Access Count: 1
User: mark, Access Count: 1
User: mtch, Access Count: 1
User: NAU, Access Count: 1
User: netman, Access Count: 1
User: nt, Access Count: 1
User: pizza, Access Count: 1
User: pos, Access Count: 1
User: print2000, Access Count: 1
User: PRODDTA, Access Count: 1
User: PSEAdmin, Access Count: 1
User: rapport, Access Count: 1
User: rcust, Access Count: 1
User: shop, Access Count: 1
User: Sweex, Access Count: 1
User: SYSDBA, Access Count: 1
User: telco, Access Count: 1
User: test9, Access Count: 1
User: tushar, Access Count: 1
User: upload, Access Count: 1
User: VNC, Access Count: 1
User: vt100, Access Count: 1
User: www, Access Count: 1
User: weblogic, Access Count: 1
User: eseasonminbak, Access Count: 1
User: db2inst2, Access Count: 1
User: github, Access Count: 1
User: dummy, Access Count: 1
User: suporte, Access Count: 1
User: minecraft, Access Count: 1
User: openvpn, Access Count: 1
User: moon, Access Count: 1
User: amy, Access Count: 1
User: stackato, Access Count: 1

In [28]:
spark.stop()